---
import { type CollectionEntry } from "astro:content";
import s from "../styles/components/BlogCard.module.css";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { lang } = Astro.params;
---

<div class={s.blogCard}>
  <a href={`/${lang}/blog/${post.id.replace(`${lang}/`, "")}`}>
    <div class={s.body}>
      <div class={s.meta}>
        <span class={s.tagWrap}>
          {post.data.tags?.map((tag) => <span class={s.tag}>{tag}</span>)}
        </span>
        <span class={s.date}>
          <FormattedDate date={post.data.pubDate} />
        </span>
      </div>
      <h2 class={s.title}>{post.data.title}</h2>
      <p class={s.desc}>{post.data.description}</p>
    </div>
  </a>
</div>
