---
import s from "../../../styles/page/blog/[...slug].module.css";

import { type CollectionEntry, getCollection, render } from "astro:content";
import DynamicPicture from "../../../components/common/DynamicPicture.astro";
import FormattedDate from "../../../components/FormattedDate.astro";
import BaseSite from "../../../layouts/BaseSite.astro";
import {
  getLangPathFromContentId,
  removeLangFromContentId,
} from "../../../utils/urlUtils";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: {
      lang: getLangPathFromContentId(post.id),
      slug: removeLangFromContentId(post.id),
    },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await render(post);
---

<BaseSite>
  <article id="blog-post" class={s.post}>
    <hgroup class={s.hgroup}>
      <span class={s.titleWrap}>
        <span class={s.date}>
          <FormattedDate date={post.data.pubDate} />
        </span>
        <h1 class={s.title}>{post.data.title}</h1>
        <p>{post.data.description}</p>
      </span>
    </hgroup>
    <hr class={s.hr} />
    <div class={s.body}>
      <Content components={{ img: DynamicPicture }} />
    </div>
  </article>
</BaseSite>

<script>
  // Target p that has strong and has .astro-code as a next element sibling
  const codeTitleEls = document.querySelectorAll(
    "p:has(strong):has(+ .astro-code)",
  );
  if (codeTitleEls) {
    for (const titleEl of codeTitleEls) {
      const preEl = titleEl.nextElementSibling;
      if (!preEl) continue;

      // init
      titleEl.setAttribute("tabindex", "0");
      (preEl as HTMLPreElement).style.display = "none";

      function handleCodeTitleClick(e: Event) {
        if (e instanceof KeyboardEvent) {
          if (e.key !== " " && e.key !== "Enter") return;
          e.preventDefault();
        }

        titleEl.toggleAttribute("active");
        const currentDisplay = (preEl as HTMLPreElement).style.display;
        if (currentDisplay !== "none") {
          (preEl as HTMLPreElement).style.display = "none";
        } else {
          (preEl as HTMLPreElement).style.display = "block";
        }
      }

      titleEl.addEventListener("click", handleCodeTitleClick);
      titleEl.addEventListener("keydown", handleCodeTitleClick);
    }
  }
</script>
